/* BANNER */

#banner {
  display: grid;
  place-items: center;
}

/* ACCESORIES */

#accesories {
  padding: $sp-xl;
}

#accesories div {
  display: flex;
  gap: $sp-md;
  color: $light;
}

.accesories__article {
  flex: 1 1 50%;
}

.accesories__article:first-of-type {
  border-right: 1px solid $light;
}

.accesories__title {
  font-size: $text-lg;
  font-weight: 300;
  margin-bottom: 2.2rem;
}

.accesories__text {
  font-size: $text-sm;
  font-weight: 300;
  margin-bottom: 2rem;
}

.accesories__caption {
  font-size: $text-xs;
  font-weight: 300;
}

/* ACCESORIES CC */

#accesoriescc {
  padding: $sp-md;
}

#accesoriescc div {
  padding-top: $sp-md;
  padding-bottom: $sp-md;
  gap: $sp-md;
}

.accesoriescc__title {
  font-size: $sp-md;
  color: $secondary;
}

#accesoriescc div .card {
  padding-top: 5px;
}

#accesoriescc div .card-body {
  padding-top: 0%;
}

/* ACCESORIES KC */

#accesorieskc {
  padding: $sp-md;
}

#accesorieskc div {
  padding-top: $sp-md;
  padding-bottom: $sp-md;
  gap: $sp-md;
}

.accesorieskc__title {
  font-size: $sp-md;
  color: $secondary;
}

#accesorieskc div .card {
  padding-top: 5px;
}

#accesorieskc div .card-body {
  padding-top: 0%;
}

/* ACCESORIES SW */

#accesoriessw {
  padding: $sp-md;
}

#accesoriessw div {
  padding-top: $sp-md;
  padding-bottom: $sp-md;
  gap: $sp-md;
}

.accesoriessw__title {
  font-size: $sp-md;
  color: $secondary;
}

#accesoriessw div .card {
  padding-top: 5px;
}

#accesoriessw div .card-body {
  padding-top: 0%;
}

/* MEDIAS */
/* ACCESORIES */

@media screen and (max-width: 900px) {
  #accesories div {
    flex-direction: column;
    align-items: center;
  }
  
  .accesories__article:first-of-type {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid $light;
    padding-bottom: $sp-sm;
  }
}